{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="container bg-white text-dark shadow" style="margin-top:-200px">
        <div class="row" style="height: 1745px">
            <center>
        <body><br>
            <img src="{% static 'img/logosamsung.jpeg'%}" style="width:200px;height:100px" alt="">
            <h1>SAMSUNG</h1>
            <p>Samsung Galaxy adalah seri perangkat telepon pintar berbasis Android yang dirancang, diproduksi dan dipasarkan oleh Samsung Electronics. Lini produk seri galaxy ini meliputi Seri Galaxy S sebagai smartphone high-end, Seri Galaxy A sebagai smartphone terdepan. Seri Galaxy Note sebagai tablet dan phablet dengan fungsionalitas tambahan stylus dan Seri Galaxy Tab sebagai tablet.</p>
            <h2>Tipe dan Spesifikasinya</h2>
            <table class="table">
                <thead>
                  <tr class="table-dark">
                    <th scope="col">No</th>
                    <th scope="col">Tipe & Harga</th>
                    <th scope="col">Spesifikasi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td><img src="{% static 'img/galaxyzfold4.webp'%}" style="width:200px;height:200px" alt=""> <br>
                        Samsung Galaxy Z Fold4<br>
                        Harga: Rp 24.999.000,00 <br>
                    </td>
                    <td>Sistem Operasi: Android <br>
                        USB Connectors: Type-C
                        Kamera: 50 + 10 + 12 MP <br>
                        Ukuran Layar: 7.6" <br>
                        Memori Internal: 8 GB + 128 GB <br>
                        RAM: 12 GB <br>
                        Kapasitas Baterai: 4400mAh <br>
                        Resolusi layar: 1812 x 2176 pixels<br>
                        Teknologi Layar: Dynamic AMOLED <br>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td><img src="{% static 'img/galaxyzflip4.webp'%}" style="width:200px;height:200px" alt=""> <br>
                        Samsung Galaxy z Flip4 <br>
                        Harga: Rp 13.999.000,00 <br>
                    </td>
                    <td>Sistem Operasi: Android <br>
                        Versi OS: Android 12 <br>
                        USB Connectors: Type-C <br>
                        Kamera Utama: 12 + 12 MP <br>
                        Kamera Selfie: 10 MP <br>
                        Ukuran Layar: 6.7" <br>
                        Memori Internal: 256 GB <br>
                        RAM: 8 GB <br>
                        Kapasitas Baterai: 3700 mAh <br>
                        Resolusi Layar: 2400 x 1080 pixels <br>
                        Teknologi Layar: Dynamic AMOLED <br>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td><img src="{% static 'img/galaxys22ultra.webp'%}" style="width:200px;height:200px" alt=""> <br>
                        Samsung Galaxy S22 Ultra <br>
                        Harga: Rp 17.499.000,00 <br>
                    </td>
                    <td>Sistem Operasi: Android <br>
                        Versi OS: 12 <br>
                        USB Connectors: Type-C <br>
                        Kamera Utama: 12 + 108 + 10 + 10 MP <br>
                        Kamera Selfie: 40 MP <br>
                        Ukuran Layar: 6.8" <br>
                        Memori Internal: 128/256/512 GB/1 T<br>
                        RAM: 8/12GB <br>
                        Kapasitas Baterai: 5000 mAh <br>
                        Resolusi Layar: 1440 x 3088 pixels <br>
                        Teknologi Layar: Dynamic AMOLED <br>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td><img src="{% static 'img/galaxya04e.webp'%}" style="width:200px;height:200px" alt=""> <br>
                        Samsung Galaxy A04e <br>
                        Harga: Rp 1.299.000,00 <br>
                    </td>
                    <td>Sistem Operasi: Android <br>
                        Versi OS: 12 <br>
                        USB Connectors: Type-C <br>
                        Kamera Utama: 13 MP <br>
                        Kamera Selfie: 5 MP <br>
                        Ukuran Layar: 6.67" <br>
                        Memori Internal: 256 GB<br>
                        RAM: 3 GB <br>
                        Kapasitas Baterai: 5000 mAh <br>
                        Resolusi Layar: 1220 x 2712 pixels <br>
                        Teknologi Layar: IPS-LCD <br>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td><img src="{% static 'img/galaxym53.webp'%}" style="width:200px;height:200px" alt=""> <br>
                        Samsung Galaxy M53 <br>
                        Harga: Rp 6.299.000,00 <br>
                    </td>
                    <td>Sistem Operasi: Android <br>
                        Versi OS: Android<br>
                        USB Connectors: Type-C <br>
                        Kamera Utama: 108 + 8 + 2 + 2 MP <br>
                        Kamera Selfie: 2,2 MP <br>
                        Ukuran Layar: 6.7" <br>
                        Memori Internal: 256 GB<br>
                        RAM: 8 GB <br>
                        Kapasitas Baterai: 5000 mAh <br>
                        Resolusi Layar: 1080 x 2400 pixels <br>
                        Teknologi Layar: Super AMOLED <br>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-warning me-md-2" type="button">Masukkan Keranjang</button>
                <button class="btn btn-danger" type="button">Beli Sekarang</button>
              </div>
        </center>
    </div>
    
{% endblock %}