body {
    background-color: rgb(22, 109, 240);
}
.jumbotron {
    background-image: url(jumbo.png);
    background-size: cover;
    height: 700px;
    text-align: center;
    margin-top: -100px;
}
.jumbotron .display-4 {
    color:black;
    font-weight: bold;
    margin-top: 10px;
}
.jumbotron .lead {
    color: black;
    font-style: italic;
    font-weight: bold;
}
.jumbotron .my-4 {
    color: black;
    height: 3px;
}