{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="container bg-white text-dark shadow" style="margin-top:-200px">
        <div class="row" style="height: 650px">
            <center>
                <br><h2>Sekilas tentang LIRIQ HP</h2>
                <img src="{% static 'img/liriqq.png'%}" style="width:800px;height:450px" alt="">
                <p>LIRIQ HP merupakan website yang bergerak di bidang e-commerce dengan menawarkan beberapa produk gadget terpercaya, seperti Apple, Samsung, Realme, Oppo dan Xiaomi. Website ini menyediakan beberapa tipe produk dengan harga terjangkau yang dilengkapi dengan detail lengkap disetiap tipenya. LIRIQ HP juga memudahkan pembeli untuk bertransaksi khusunya dalam pembelian gadget secara online.
                <br><br><br>
            </center>
        </div>
    </div>
</div>
{% endblock %}