{% load static %}

<!--<div class="jumbotron">
    <center>
    <div class="p-5 mb-4 bg-danger rounded-3" style="height:600px">
        <div class="container-fluid py-5">
          <img src="{% static 'img/logodua.png'%}" style="width:100px;height:100px" alt="Logoliriq">
          <h1 class="display-4 fw-bold">LIRIQ HP</h1>
          <p class="col-md-8 fs-4">“Kamu nanyeeaa tempat jual hp terpercaya dimanneaa? Biar aku kasih tau yeahhh”</p>
          <button class="btn btn-dark btn-lg" type="button" href="">Klik disini yeah!</button>
        </div>
    </div>
    </center>
</div>-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" id="mainNav"> 
  <div class="container-fluid">
    <a class="navbar-brand" aria-current="page" href="/liriqhp">
      <img style="height:48px" src="{% static 'img/logodua.png'%}" alt="">
      LIRIQ HP</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Beranda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/iphone">iPhone</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/oppo">OPPO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/realme">realme</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/samsung">Samsung</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/xiaomi">Xiaomi</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron">
  <center>
  <div class="container"><br><br><br><br><br><br><br>
  <img src="{% static 'img/logodua.png'%}" style="width:100px;height:100px" alt="Logoliriq">
  <h1 class="display-4">LIRIQ HP</h1>
  <p class="lead">"Kamu nanyeeaa tempat jual hp terpercaya dimanneaa? Biar aku kasih tau yeahhh"</p>
  <hr class="my-4">
  <p class="leady text-light">
    <a class="btn btn-primary btn-lg" href="#" role="button">Klik disini yeah!</a>
  </p>
  </div>
</center>
</div>