{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="container bg-white text-dark shadow" style="margin-top:-200px">
        <div class="row" style="height: 1440px">
            <center>
                <body><br>
                    <img src="{% static 'img/logooppo.jpeg'%}" style="width:250px;height:130px" alt=""> 
                    <h1>OPPO</h1>
                    <p>OPPO adalah penyedia layanan elektronik dan teknologi global yang membawakan perangkat elektronik seluler terbaru dan tercanggih di lebih dari 20 negara, termasuk Amerika Serikat, China, Australia dan negara-negara lain di Eropa, Asia Tenggara, Asia Selatan, Timur Tengah dan Afrika. OPPO berusaha memberikan pengalaman menggunakan ponsel terbaik melalui desain yang cermat dan teknologi yang cerdas.</p>
                    <h1> Tipe OPPO dan Spesifikasinya </h1></body>
        <table class="table">
            <thead>
              <tr class="table-dark">
                <th scope="col">No</th>
                <th scope="col">Tipe & Harga</th>
                <th scope="col">Spesifikasi</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><img src="{% static 'img/oppoA77S.WEBP'%}" style="width:150px;height:100px" alt=""> <br>
                    OPPO A77S <br>
                    Harga: Rp 3.099.000,00 <br>
                </td>
                <td>OS Version: Android 12 <br>
                    Ukuran Layar: 6.56 inch <br>
                    Screen Resolution: 720 x 1612 Pixel <br>
                    RAM: 8 GB <br>
                    Memori Internal: 128 GB <br>
                    Resolusi Kamera Belakang: 50 MP <br>
                    Resolusi Kamera Depan: 8 MP <br>
                    Kapasitas Baterai: 5000 mAh <br>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><img src="{% static 'img/opporeno8.WEBP'%}" style="width:150px;height:100px" alt=""> <br>
                    OPPO Reno8 5G <br>
                    Harga: Rp 4.399.000,00 <br>
                </td>
                <td>OS Version: Android 12 <br>
                    Ukuran Layar: 6.43 inch <br>
                    Screen Resolution: 1080 x 2400 Pixel <br>
                    RAM: 8 GB <br>
                    Memori Internal: 256 GB <br>
                    Resolusi Kamera Belakang: 50 MP <br>
                    Resolusi Kamera Depan: 32 MP <br>
                    Kapasitas Baterai: 4500 mAh <br>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td><img src="{% static 'img/oppoA57.WEBP'%}" style="width:150px;height:100px" alt=""> <br>
                    OPPO A57 <br>
                    Harga: Rp 2.130.000,00<br>
                </td>
                <td>OS Version: Android 12 <br>
                    Ukuran Layar: 6.56 inch <br>
                    Screen Resolution: 720 x 1612 Pixel <br>
                    RAM: 4 GB <br>
                    Memori Internal: 64 GB <br>
                    Resolusi Kamera Belakang: 13 MP <br>
                    Resolusi Kamera Depan: 8 MP <br>
                    Kapasitas Baterai: 5000 mAh <br>
                </td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td><img src="{% static 'img/oppoA96.WEBP'%}" style="width:150px;height:100px" alt=""> <br>
                    OPPO A96 <br>
                    Harga: Rp 3.540.000,00 <br>
                </td>
                <td>OS Version: Android 11 <br>
                    Ukuran Layar: 6.59 inch <br>
                    Screen Resolution: 1080 x 2412 Pixel <br>
                    RAM: 8 GB <br>
                    Memori Internal: 256 GB <br>
                    Resolusi Kamera Belakang: 50 MP <br>
                    Resolusi Kamera Depan: 16 MP <br>
                    Kapasitas Baterai: 5000 mAh <br>              
                </td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td><img src="{% static 'img/opporeno7.WEBP'%}" style="width:150px;height:100px" alt=""> <br>
                    OPPO Reno7 Z 5G <br>
                    Harga: Rp 4.800.000,00 <br>
                </td>
                <td>OS Version: Android 11 <br>
                    Ukuran Layar: 6.43 inch <br>
                    Screen Resolution: 1080 x 2400 Pixel <br>
                    RAM: 8 GB <br>
                    Memori Internal: 128 GB <br>
                    Resolusi Kamera Belakang: 64 MP <br>
                    Resolusi Kamera Depan: 16 MP <br>
                    Kapasitas Baterai: 4500 mAh <br>                    
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-warning me-md-2" type="button">Masukkan Keranjang</button>
            <button class="btn btn-danger" type="button">Beli Sekarang</button>
          </div>
    </center>
</div>
</div>
</div>
    
{% endblock %}